<section class="container main">
	<button class="main__btn" type="button">
		<svg class="main__icon">
			<use  href="./img/sprite.svg#icon-home"></use>
		</svg>
		    Головна
	</button>
	<div class="main__cntainer">
		<div class="main__reviwCntainer">
			<div class="main__textCntainer">
				<p class="main__question">Ви зараз студент?</p>
				<h1 class="main__title">Поділіться своїм студентським досвідом та залишіть відгук</h1>
			</div>
			<div class="main__reviewRating">
				<a class="main__link" href="#" target="_blank" rel="noopener noreferrer">
					Надіслати відгук
				</a>
				<div class="main__ratingContainer">
					<svg class="star">
						<use  href="./img/sprite.svg#icon-star"></use>
					</svg>
					<svg class="star">
						<use  href="./img/sprite.svg#icon-star"></use>
					</svg>
					<svg class="star">
						<use  href="./img/sprite.svg#icon-star"></use>
					</svg>
					<svg class="star">
						<use  href="./img/sprite.svg#icon-star"></use>
					</svg>
					<svg class="star">
						<use  href="./img/sprite.svg#icon-star"></use>
					</svg>
				</div>
			</div>
		</div>
		<ul class="main__list">
			<li class="main__item">
				<div>
					<h2>Англійська мова. Підготовка до ДПА</h2>
					<img src="../img/logoCompani.png" alt="logoCompani">
				</div>
				<h3>2 000 грн на місяць</h3>
				<p>Мовні - Англійська мова; Науки та підготовка до ЗНО/НМТ - Мова</p>
				<p>Середня школа.</p>
				<h4>Optima Academy</h4>
				<div>
					<p>Online</p>
					<div>
						<svg class="main__icon">
							<use  href="./img/sprite.svg#icon-star"></use>
						</svg>
						<svg class="main__icon">
							<use  href="./img/sprite.svg#icon-star"></use>
						</svg>
						<svg class="main__icon">
							<use  href="./img/sprite.svg#icon-star"></use>
						</svg>
						<svg class="main__icon">
							<use  href="./img/sprite.svg#icon-star"></use>
						</svg>
						<svg class="main__icon">
							<use  href="./img/sprite.svg#icon-star"></use>
						</svg>
					</div>
				</div>
	
			</li>
		</ul>
	</div>

</section>