:root {
	//Перший колір акценту на сторінці, bgc кнопок, акцент тегу, фон верхньої частини секції залишити відгук , колір бордеру
	  --accentColor: #FDD503;

	//Другий колір акценту на сторінці, bgc кнопок,текст кнопок, акцент тегу, колір іконки
	  --secondAccentColor: #7B34D8;

	//Основний світлий фон сторінок
	  --bgColor: #ffffff;

	//Другорядний фон елементів на сторінці
	  --secondBgColor: #EBEBEB;

	//Колір межі і плейсхолдерів інпута
	  --inputColor: #616161;
	
	//колір коли інпупи валідно запокнені
	  --success: #2CA129;

	//колір коли у інпутах помилка 
	  --error: #D83434;

	//Фон кнопки входу(реєстрації), фокус інпутів, фон текстового опису інпітів
	  --bgcBtnSingUp: #1F12AC;

	//Колір фону коли кнопка увійти зареєструватися активна(натиснута)
	  --bgcBtnSingUpActive: hsla(245, 81%, 37%, 0.50);
	
	//Фон кнопки прийняти
	  --acceptBtn: #038A00;
	
	//Фон кнопки прийняти коли вона активна
	  --acceptBtnActive: #2CA129;

	//Білий текст
	  --whiteText: #ffffff;

	//Чорний текст
	  --darkText: #000000;

	//Чорний другорядний текст
	  --secondDarkText: #232323;

	//Заголовки
	  --titleColor: var(--darkText);

	}