<header> 

	<div class="container">
	    <div class="head__placementEl">
		  <div class="logo">
		    <img src="./img/Logo.png" alt="Logo" width="36px" height="25px">
		    <p class="logo__text">reviewED</p>
		  </div>
		  <div class="head__searchEl">
		    <div class="head_inputEl">
			<input  class="head__input" type="search" name="query" placeholder="Search" value="" >
			<button class="head__searchBtn" type="button" aria-label="Пошук">
			    <svg class="head__icon">
				<use  href="./img/sprite.svg#icon-search"></use>
			    </svg>
			</button>
		    </div>
		    <button class="head__searchBtn--voice " type="button" aria-label="Голосовий пошук" id="voiceSearchBtn">
			<svg class="head__icon head__icon--voice">
			    <use href="./img/sprite.svg#icon-render_your_voice"></use>
			</svg>
		    </button>
		  </div>
		  <div class="head__singInEl">
		    <button class="head__moreBtn" type="button" aria-label="Більше опцій">
			<svg class="head__icon head__icon--more">
			    <use href="./img/sprite.svg#icon-more_vertical"></use>
			</svg>
		    </button>
		    <button class="head__singInBtn" type="button" aria-label="Увійти">
			<svg class="head__icon--singUp head__icon ">
			    <use href="./img/sprite.svg#icon-people"></use>
			</svg>
			Вхід
		    </button>
		  </div>
	    </div>
	  </div>
	  
</header>